<div class="slide">
  <% work.forEach(function(bundle) { %>
    <% if (bundle.version == 'v3') { %>
      <div>
        <script type="application/javascript" src="/dist/projects/<%= bundle.name %>/<%= bundle.version %>.bundle.js"></script>

        <!-- Button trigger modal -->
        <button type="button" id="<%= bundle.name %>_modal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateProject">
          Edit <%= bundle.name %>
        </button>
        <button type="button" id="<%= bundle.name %>_testPV1" class="btn btn-primary">TEST PV1</button>
        
        <script>
          document.getElementById('<%= bundle.name %>_modal').onclick = () => {
            const appContainer = document.getElementById("update_app_container");
            appContainer.innerHTML = "";
            Window.games["<%= bundle.name %>"](appContainer);
          };

          document.getElementById('<%= bundle.name %>_testPV1').onclick = () => {
            // extractZip()
          };
        </script>
      </div>
    <% } %>
  <% }); %>
</div>

<!-- Modals -->
<%- include('partials/createForm') %>
<%- include('partials/updateForm') %>