<div class="slide">
  <% work.forEach(function(bundle) { %>
    <% if (bundle.version == 'v3') { %>
      <div>
        <script type="application/javascript" src="/dist/projects/<%= bundle.title %>/<%= bundle.version %>.bundle.js"></script>

        <!-- Button trigger modal -->
        <button type="button" id="<%= bundle.title %>_update" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateProject">Edit <%= bundle.title %>
        </button>
        <button type="button" id="<%= bundle.title %>_test" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#testProject">Test</button>
        
        <script>
          document.getElementById('<%= bundle.title %>_test').onclick = () => {
            const appContainer = document.getElementById("test_app_container");
            appContainer.innerHTML = "";

            fetch('/unzip-decrypt?title=<%= bundle.title %>&version=<%= bundle.version %>&keyName=<%= bundle.title %>/<%= bundle.version %>')
              .then(res => res.text())
              .then(res => {
                eval(res);

                Window.games["<%= bundle.title %>"](appContainer);
              })
              .catch(error => console.log(error));
          }
        </script>
      </div>
    <% } %>
  <% }); %>
</div>

<!-- Modals -->
<%- include('partials/createForm') %>
<%- include('partials/updateForm') %>
<%- include('partials/testModal') %>