<%- include ("./partials/messages") %>

<a href="/logout">Log Out</a>

<h1>Portal</h1>

<div class="portal row" style="display: flex;">
	<%- include ("./partials/panel") %>

	<%- include ("./partials/gallery") %>

	<%- include ("./partials/modals/uploadFilesDisplay") %>

	<%- include ("./partials/modals/uploadServiceDetails") %>

	<%- include ("./partials/modals/appDisplay") %>

	<%- include ("./partials/modals/slidesDisplay") %>
</div>